doctype html
html
  head
    title orc-blog
    link(rel="stylesheet", href="/css/font.css")
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app="orc-blog")
    block content
    script(src="/js/userapp.client.js")
    script(src="/js/angular.min.js")
    script(src="/js/angularjs.userapp.js")
    script(src="/js/restangular.min.js")
    script(src="/js/app.js")
